.Listing {
    display: flex;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    position: relative;
    align-items: flex-start;
}

.EditButton {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.DeleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.ListingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 130px;
}

.ListingImage img {
    max-width: 280px;
    height: auto;
    margin: 10px;
    border: 3px solid #163175;
    cursor: pointer;
    transition: transform 0.2s;
}

.ListingImage img:hover {
    transform: scale(1.5);
    border-color: #ff9900;
}


.ListingInfo {
    flex: 1;
}

.ListingInfo h2 {
    color: #007bff;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left;
}

.ListingInfo p {
    margin: 5px;
    font-size: 1.2rem;
    text-align: left;
}


